<mat-card class="col-md-8 offset-md-2">
  <button (click)="backClicked()">Go Back</button>

  <form (ngSubmit)="submit(shopForm)" #shopForm="ngForm">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step label="Basics">
        <mat-form-field class="col-md-4">
          <input matInput placeholder="Shop Name" name="name" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Service Type" name="type" [(ngModel)]="type">
            <mat-option *ngFor="let list of shopList" [value]="[list.serviceType]">{{list.serviceType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Address</p>
          <app-search-google-maps (Directon)=direction($event)>
          </app-search-google-maps>
        <mat-form-field class="col-12">
          <textarea matInput placeholder="Description" rows="4" name="description" [(ngModel)]="description"></textarea>
        </mat-form-field>
        <div class="col-12">
          <app-map></app-map>
          
        </div>
        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Services">
        <div class="justify-content-start" *ngFor="let group of shopList; let j = index">
          <div class="row" *ngIf="type == shopList[j].serviceType">
            <mat-checkbox class="col-sm-6 col-md-4 col-lg-3" *ngFor="let list of shopList[j].serviceList" [(ngModel)]="list.selected"
              name={{list.name}}>
              {{list.name}}</mat-checkbox>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Opening Hours">
        <div *ngFor="let day of days;let i = index" class="d-flex justify-content-start">
          <mat-checkbox class="col-md-4 col-lg-2" name="day.open" [value]="day.open" [(ngModel)]="day.open">{{days[i].name}}</mat-checkbox>
          <div *ngIf="day.open" class="d-flex justify-content-start">
            <div>
              <label>From:
                <div class="d-flex time">
                {{day.amOp}}
                  <mat-select [(ngModel)]="days-i.amOp" name="days-{{i}}.amOp">
                    <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                  </mat-select>
                  <!-- <mat-select [(ngModel)]="day.amOp" name="day.amOp">
                    <mat-option *ngFor="let minute of minutes" [value]="day.amOp">{{minute}}</mat-option>
                  </mat-select> -->
                </div>
              </label>
              <label>To:
                <div class="d-flex time">
                  <mat-select [(ngModel)]="days-i.amCl" name="days-{{i}}.amCl">
                    <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                  </mat-select>
                  <!-- <mat-select [(ngModel)]="day.amCl" name="day.amCl">
                    <mat-option *ngFor="let minute of minutes" [value]="day.amCl">{{minute}}</mat-option>
                  </mat-select> -->
                </div>
              </label>
            </div>
            <div  *ngIf="day.evening">
              <label>From:
                  <div class="d-flex time">
                      <mat-select [(ngModel)]="day-i.pmOp" name="day-{{i}}.pmOp">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                      </mat-select>
                      <!-- <mat-select [(ngModel)]="day.pmOp" name="day.pmOp">
                        <mat-option *ngFor="let minute of minutes" [value]="day.pmOp">{{minute}}</mat-option>
                      </mat-select> -->
                    </div>
              </label>
              <label>To:
                  <div class="d-flex time">
                    <mat-select [(ngModel)]="day.pmCl" name="day.pmCl">
                      <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                    <!-- <mat-select [(ngModel)]="day.pmCl" name="day.pmCl">
                      <mat-option *ngFor="let minute of minutes" [value]="day.pmCl">{{minute}}</mat-option>
                    </mat-select> -->
                  </div>
              </label>
            </div>
            <mat-checkbox name="day.evening" [value]="day.evening.value" [(ngModel)]="day.evening">Split service </mat-checkbox>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Confirm">
          <div class="d-flex justify-content-between">
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button type="submit">Submit</button>
          </div>
        </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
<div *ngIf="Directon">
  Pepe
</div>