.time{
  width: 100px ;
}
.wrapper{
  background: rgb(181, 164, 192);
  color:white;
}
.price{
  width: 100px;
}
label{
  font-family: 'Abel';
  font-weight: 700;
}
.main{
  padding: 0;
}
.mat-input-element{
  font-size: 24px;
}