<mat-card class="col-md-8 offset-md-2">
  <button (click)="backClicked()">Go Back</button>

  <form (ngSubmit)="submit(shopForm)" #shopForm="ngForm">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step label="Basics">
        <mat-form-field class="col-md-4">
          <input matInput placeholder="Shop Name" name="name" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-select placeholder="Service Type" name="serviceType" [(ngModel)]="serviceType">
            <mat-option *ngFor="let list of shopList" [value]="[list.serviceType]">{{list.serviceType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Address</p>
          <app-search-google-maps (Dir)=direction($event)>
          </app-search-google-maps>
        <mat-form-field class="col-12">
          <textarea matInput placeholder="Description" rows="4" name="description" [(ngModel)]="description"></textarea>
        </mat-form-field>
        <div class="col-12">
          <app-map [direction]="Direction"></app-map>
          
        </div>
        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Services">
        <div class="justify-content-start" *ngFor="let group of shopList; let j = index">
          <div class="row" *ngIf="serviceType == shopList[j].serviceType">
            <mat-checkbox class="col-sm-6 col-md-4 col-lg-3" *ngFor="let list of shopList[j].serviceList" [(ngModel)]="list.selected"
              name={{list.name}}>
              {{list.name}}</mat-checkbox>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Opening Hours">
        <div *ngFor="let day of date;let i = index" class="d-flex justify-content-start">
          <mat-checkbox class="col-md-4 col-lg-2" name="date[{{i}}].open" [value]="day.open" [(ngModel)]="date[i].open">{{date[i].name}}</mat-checkbox>
          <div *ngIf="day.open" class="d-flex justify-content-start">
            <div>
              <label>From: 
                <div class="d-flex time">
                  <mat-select [(ngModel)]="date[i].amOp.hour" name="date[{{i}}].amOp.hour">
                    <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                  </mat-select>
                  <mat-select [(ngModel)]="date[i].amOp.minute" name="date[{{i}}].amOp.minute">
                    <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                  </mat-select>
                </div>
              </label>
              <label>To:
                <div class="d-flex time">
                  <mat-select [(ngModel)]="date[i].amCl.hour" name="date[{{i}}].amCl.hour">
                    <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                  </mat-select>
                  <mat-select [(ngModel)]="date[i].amCl.minute" name="date[{{i}}].amCl.minute">
                    <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                  </mat-select>
                </div>
              </label>
            </div>
            <div  *ngIf="day.evening">
              <label>From:
                  <div class="d-flex time">
                      <mat-select [(ngModel)]="date[i].pmOp.hour" name="date[{{i}}].pmOp.hour">
                        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                      </mat-select>
                      <mat-select [(ngModel)]="date[i].pmOp.minute" name="date[{{i}}].pmOp.minute">
                        <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                      </mat-select>
                    </div>
              </label>
              <label>To:
                  <div class="d-flex time">
                    <mat-select [(ngModel)]="date[i].pmCl.hour" name="date[{{i}}].pmCl.hour">
                      <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    </mat-select>
                    <mat-select [(ngModel)]="date[i].pmCl.minute" name="date[{{i}}].pmCl.minute">
                      <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                    </mat-select>
                  </div>
              </label>
            </div>
            <mat-checkbox name="day.evening" [value]="day.evening.value" [(ngModel)]="day.evening">Split service </mat-checkbox>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Confirm">
          <div class="d-flex justify-content-between">
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button type="submit">Submit</button>
          </div>
        </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>