
    <nav class="navbar navbar-expand-md justify-content-around navbar-sticky-top col-md-8 offset-md-2 bg-light">
        <div class="row">
            <a class="navbar-brand"><img class="navbar-brand" src="../../../assets/images/logo.png" class="logo" alt="logo"></a>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item" *ngIf="router.url!=='/search'&&router.url!==''">
                    <a class="nav-link" routerLink="search">Search</a>
                </li>
                <li *ngIf="authService.user&&router.url!=='/profile'" class="nav-item">
                    <a class="nav-link" routerLink="profile">Profile</a>
                </li>
            </ul>
        </div>

        <div class="align-self-center col-xs-12">
            <div class="title-box">
                <h1 class="nav title" *ngIf="'/.\//g.test(router.url)'">
                    <span *ngIf="authService.user&&router.url=='/profile'">{{authService.user.username | uppercase}}'S </span> {{router.url | url | uppercase}}</h1>
                <h1 class="nav title" *ngIf="!('/.\//g.test(router.url)')"> {{router.url | url | uppercase}}</h1>
            </div>
        </div>
        <ul class="nav navbar-nav align-self-end" routerLinkActive="active">
            <li class="nav-item logout">
                <a *ngIf="authService.user"  routerLink="search" (click)="logOut()" class="nav-link">Log out</a>
                <a *ngIf="!authService.user" routerLink="login" class="nav-link">Log in</a>
            </li>
        </ul>
    </nav>